

h1{
    color: rgb(174, 13, 13);
}
.deckInfo {
   display: flex;
    align-items: center;
    flex-direction: column;


}

.deck{ 
    display: flex;
    width: 1000px;
   align-items: center;
   
    flex-direction: column;

   
background-color: white;
}

.column{
  
}